USE [master]
GO
/****** Object:  Database [AccountingDemo]    Script Date: 10/8/2024 2:40:05 AM ******/
CREATE DATABASE [AccountingDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AccountingDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AccountingDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AccountingDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AccountingDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AccountingDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AccountingDemo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/8/2024 2:40:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountGroup]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountGroup](
	[AccountGroupId] [int] NOT NULL,
	[AccountGroupName] [nvarchar](max) NOT NULL,
	[GroupUnder] [int] NOT NULL,
	[GroupCode] [nvarchar](max) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[Narration] [nvarchar](max) NULL,
	[IsDefault] [bit] NOT NULL,
	[Nature] [nvarchar](max) NULL,
	[AffectGrossProfit] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[ModifyBy] [int] NULL,
	[AddedDate] [datetime2](7) NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_AccountGroup] PRIMARY KEY CLUSTERED 
(
	[AccountGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountLedger]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountLedger](
	[LedgerId] [int] IDENTITY(1,1) NOT NULL,
	[AccountGroupId] [int] NOT NULL,
	[LedgerName] [nvarchar](max) NOT NULL,
	[LedgerCode] [nvarchar](max) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[OpeningBalance] [decimal](18, 2) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CrOrDr] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[ShippingAddress] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[TaxNo] [nvarchar](max) NULL,
	[CreditPeriod] [int] NOT NULL,
	[CreditLimit] [decimal](18, 2) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[AccountName] [nvarchar](max) NULL,
	[AccountNo] [nvarchar](max) NULL,
	[AddedDate] [datetime2](7) NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_AccountLedger] PRIMARY KEY CLUSTERED 
(
	[LedgerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[AddedDate] [datetime2](7) NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[PhoneNo] [nvarchar](max) NOT NULL,
	[MobileNo] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[CurrencyId] [int] NOT NULL,
	[FinancialYearId] [int] NOT NULL,
	[NoofDecimal] [int] NOT NULL,
	[Website] [nvarchar](max) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[Logo] [nvarchar](max) NOT NULL,
	[AddedDate] [datetime2](7) NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currency]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency](
	[CurrencyId] [int] IDENTITY(1,1) NOT NULL,
	[CurrencySymbol] [nvarchar](max) NOT NULL,
	[CurrencyName] [nvarchar](max) NOT NULL,
	[NoOfDecimalPlaces] [decimal](18, 2) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[AddedDate] [datetime2](7) NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Currency] PRIMARY KEY CLUSTERED 
(
	[CurrencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceSetting]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceSetting](
	[VoucherTypeId] [int] IDENTITY(1,1) NOT NULL,
	[VoucherTypeName] [nvarchar](max) NOT NULL,
	[StartIndex] [int] NOT NULL,
	[Prefix] [nvarchar](max) NOT NULL,
	[Suffix] [nvarchar](max) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[PONumber] [nvarchar](max) NOT NULL,
	[EwayBillNo] [nvarchar](max) NOT NULL,
	[VechileNo] [nvarchar](max) NOT NULL,
	[ShowDiscount] [bit] NOT NULL,
	[ShowTax] [bit] NOT NULL,
	[ShowBarcode] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_InvoiceSetting] PRIMARY KEY CLUSTERED 
(
	[VoucherTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JournalDetails]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalDetails](
	[JournalDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[JournalMasterId] [int] NOT NULL,
	[LedgerId] [int] NOT NULL,
	[Credit] [decimal](18, 2) NOT NULL,
	[Debit] [decimal](18, 2) NOT NULL,
	[Narration] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_JournalDetails] PRIMARY KEY CLUSTERED 
(
	[JournalDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JournalMaster]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalMaster](
	[JournalMasterId] [int] IDENTITY(1,1) NOT NULL,
	[SerialNo] [nvarchar](max) NOT NULL,
	[VoucherNo] [nvarchar](max) NOT NULL,
	[InvoiceNo] [nvarchar](max) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Narration] [nvarchar](max) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[VoucherTypeId] [int] NOT NULL,
	[FinancialYearId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[AddedDate] [datetime2](7) NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_JournalMaster] PRIMARY KEY CLUSTERED 
(
	[JournalMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LedgerPosting]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LedgerPosting](
	[LedgerPostingId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[NepaliDate] [nvarchar](max) NOT NULL,
	[VoucherTypeId] [int] NOT NULL,
	[VoucherNo] [nvarchar](max) NOT NULL,
	[LedgerId] [int] NOT NULL,
	[Debit] [decimal](18, 2) NOT NULL,
	[Credit] [decimal](18, 2) NOT NULL,
	[DetailsId] [int] NOT NULL,
	[YearId] [int] NOT NULL,
	[InvoiceNo] [nvarchar](max) NOT NULL,
	[ChequeNo] [nvarchar](max) NOT NULL,
	[ChequeDate] [nvarchar](max) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[ReferenceN] [nvarchar](max) NOT NULL,
	[LongReference] [nvarchar](max) NOT NULL,
	[AddedDate] [datetime2](7) NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_LedgerPosting] PRIMARY KEY CLUSTERED 
(
	[LedgerPostingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Privilege]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Privilege](
	[PrivilegeId] [int] IDENTITY(1,1) NOT NULL,
	[FormName] [nvarchar](max) NOT NULL,
	[AddAction] [bit] NOT NULL,
	[EditAction] [bit] NOT NULL,
	[DeleteAction] [bit] NOT NULL,
	[ShowAction] [bit] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[SettingType] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedDate] [datetime2](7) NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Privilege] PRIMARY KEY CLUSTERED 
(
	[PrivilegeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](max) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[GroupId] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[TaxId] [int] NOT NULL,
	[PurchaseRate] [decimal](18, 2) NOT NULL,
	[SalesRate] [decimal](18, 2) NOT NULL,
	[Mrp] [decimal](18, 2) NOT NULL,
	[Narration] [nvarchar](max) NOT NULL,
	[QtyAlert] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Barcode] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[OpeningStock] [int] NOT NULL,
	[ExiparyDate] [datetime2](7) NOT NULL,
	[AddedDate] [datetime2](7) NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductGroup]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGroup](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](max) NOT NULL,
	[GroupUnder] [int] NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Narration] [nvarchar](max) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[AddedDate] [datetime2](7) NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_ProductGroup] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesDetails]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesDetails](
	[SalesDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[SalesMasterId] [int] NOT NULL,
	[OrderDetailsId] [int] NOT NULL,
	[QuotationDetailsId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Qty] [decimal](18, 2) NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[TaxId] [int] NOT NULL,
	[BatchId] [int] NOT NULL,
	[TaxRate] [decimal](18, 2) NOT NULL,
	[TaxAmount] [decimal](18, 2) NOT NULL,
	[GrossAmount] [decimal](18, 2) NOT NULL,
	[NetAmount] [decimal](18, 2) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SalesDetails] PRIMARY KEY CLUSTERED 
(
	[SalesDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesMaster]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesMaster](
	[SalesMasterId] [int] IDENTITY(1,1) NOT NULL,
	[SerialNo] [nvarchar](max) NOT NULL,
	[VoucherNo] [nvarchar](max) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[VoucherTypeId] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[LedgerId] [int] NOT NULL,
	[OrderMasterId] [int] NOT NULL,
	[QuotationMasterId] [int] NOT NULL,
	[Narration] [nvarchar](max) NOT NULL,
	[TaxId] [int] NOT NULL,
	[TotalTax] [decimal](18, 2) NOT NULL,
	[TaxRate] [decimal](18, 2) NOT NULL,
	[Reference] [nvarchar](max) NOT NULL,
	[PaymentStatus] [nvarchar](max) NOT NULL,
	[DisPer] [decimal](18, 2) NOT NULL,
	[BillDiscount] [decimal](18, 2) NOT NULL,
	[ShippingAmount] [decimal](18, 2) NOT NULL,
	[GrandTotal] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[NetAmounts] [decimal](18, 2) NOT NULL,
	[PayAmount] [decimal](18, 2) NOT NULL,
	[BalanceDue] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[PreviousDue] [decimal](18, 2) NOT NULL,
	[PaymentId] [int] NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[POS] [bit] NOT NULL,
	[FinancialYearId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[AddedDate] [datetime2](7) NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_SalesMaster] PRIMARY KEY CLUSTERED 
(
	[SalesMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockPosting]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockPosting](
	[StockPostingId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[VoucherTypeId] [int] NOT NULL,
	[VoucherNo] [nvarchar](max) NOT NULL,
	[InvoiceNo] [nvarchar](max) NOT NULL,
	[ProductId] [int] NOT NULL,
	[BatchId] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[AgainstVoucherTypeId] [int] NOT NULL,
	[AgainstInvoiceNo] [nvarchar](max) NOT NULL,
	[AgainstVoucherNo] [nvarchar](max) NOT NULL,
	[InwardQty] [decimal](18, 2) NOT NULL,
	[OutwardQty] [decimal](18, 2) NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[FinancialYearId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[DetailsId] [int] NOT NULL,
	[StockCalculate] [nvarchar](max) NOT NULL,
	[AddedDate] [datetime2](7) NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_StockPosting] PRIMARY KEY CLUSTERED 
(
	[StockPostingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tax]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tax](
	[TaxId] [int] IDENTITY(1,1) NOT NULL,
	[TaxName] [nvarchar](max) NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[AddedDate] [datetime2](7) NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Tax] PRIMARY KEY CLUSTERED 
(
	[TaxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[UnitId] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](max) NOT NULL,
	[NoOfDecimalplaces] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[AddedDate] [datetime2](7) NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[ConfirmPassword] [nvarchar](max) NOT NULL,
	[Active] [bit] NOT NULL,
	[AddedDate] [datetime2](7) NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AccountGroupSearch]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AccountGroupSearch]
AS

SELECT AccountGroupId,AccountGroupName,Nature,(SELECT AccountGroupName FROM AccountGroup WHERE AccountGroup. AccountGroupId= temp.groupUnder ) AS Under
FROM AccountGroup AS TEMP
GO
/****** Object:  StoredProcedure [dbo].[GetBalanceSheetReports]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBalanceSheetReports]
    @toDate DATETIME,
    @CompanyId INT
AS
BEGIN
    -- Declare variables
    DECLARE @noOfDecimalPlace INT;        
    DECLARE @balance DECIMAL(24, 2);  -- Declare the balance variable

    -- Get the number of decimal places for currency
    SELECT @noOfDecimalPlace = NoOfDecimalPlaces FROM Currency WHERE CurrencyId = 1;
	SELECT   @balance = ISNULL(SUM(Debit) - SUM(Credit), 0)  FROM LedgerPosting  WHERE VoucherTypeId = 1   AND CompanyId = @CompanyId  AND Date <= @toDate;
    -- Assets Query
    WITH GroupInMainGroupP1 (AccountGroupId, HierarchyLevel) AS
    (
        SELECT AccountGroupId, 1 AS HierarchyLevel
        FROM AccountGroup 
        WHERE Nature = 'Assets'
        UNION ALL
        SELECT e.AccountGroupId, G.HierarchyLevel + 1 AS HierarchyLevel
        FROM AccountGroup AS e
        INNER JOIN GroupInMainGroupP1 G ON e.GroupUnder = G.AccountGroupId
    ),
    -- Liabilities Query
    GroupInMainGroupP2 (AccountGroupId, HierarchyLevel) AS
    (
        SELECT AccountGroupId, 1 AS HierarchyLevel
        FROM AccountGroup 
        WHERE Nature = 'Liabilities'
        UNION ALL
        SELECT e.AccountGroupId, G.HierarchyLevel + 1 AS HierarchyLevel
        FROM AccountGroup AS e
        INNER JOIN GroupInMainGroupP2 G ON e.GroupUnder = G.AccountGroupId
    )
    
    -- Main Query for Assets and Liabilities
    SELECT
        'Assets' AS Category,
        A.AccountGroupId AS Id,
        A.AccountGroupName AS Name,
        CAST(ROUND(SUM(ISNULL(C.Debit, 0) - ISNULL(C.Credit, 0)), @noOfDecimalPlace) AS DECIMAL(24, 2)) AS Balance
    FROM AccountLedger AS L1
    LEFT JOIN AccountGroup A ON L1.AccountGroupId = A.AccountGroupId
    LEFT JOIN LedgerPosting C ON L1.LedgerId = C.LedgerId AND C.Date <= @toDate AND C.CompanyId = @CompanyId
    WHERE A.AccountGroupId IN (SELECT AccountGroupId FROM GroupInMainGroupP1)
    GROUP BY A.AccountGroupId, A.AccountGroupName
    
    UNION ALL
    
    SELECT
        'Liabilities' AS Category,
        B.AccountGroupId AS Id,
        B.AccountGroupName AS Name,
        CAST(ROUND(SUM(ISNULL(C1.Credit, 0) - ISNULL(C1.Debit, 0)), @noOfDecimalPlace) AS DECIMAL(24, 2)) AS Balance
    FROM AccountLedger AS L2
    LEFT JOIN AccountGroup B ON L2.AccountGroupId = B.AccountGroupId
    LEFT JOIN LedgerPosting C1 ON L2.LedgerId = C1.LedgerId AND C1.Date <= @toDate AND C1.CompanyId = @CompanyId
    WHERE B.AccountGroupId IN (SELECT AccountGroupId FROM GroupInMainGroupP2)
    GROUP BY B.AccountGroupId, B.AccountGroupName
    
    UNION ALL

    -- Profit and Loss Account
    SELECT
        'Profit and Loss' AS Category,
        0 AS Id,
        'Profit And Loss Account' AS Name,
        CAST(ROUND(ISNULL(SUM(C.Debit - C.Credit), 0), @noOfDecimalPlace) AS DECIMAL(24, 2)) AS Balance
    FROM AccountLedger L
    LEFT JOIN LedgerPosting C ON L.LedgerId = C.LedgerId
    WHERE L.LedgerId = 2 
      AND C.Date <= @toDate 
      AND C.CompanyId = @CompanyId
	  UNION ALL

    -- Calculate the balance difference
    SELECT
        'Difference' AS Category,
        0 AS Id,
        'Difference' AS Name,
        @balance AS Balance
    FROM LedgerPosting
    WHERE VoucherTypeId = 1 
      AND CompanyId = @CompanyId 
      AND Date <= @toDate;
END
GO
/****** Object:  StoredProcedure [dbo].[JournalVoucherGetAll]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[JournalVoucherGetAll]
	@FromDate datetime,
	@ToDate datetime,
	@VoucherNo nvarchar(MAX)

AS
SELECT JournalMasterId,Date,VoucherNo,Narration,Amount,Status   FROM JournalMaster  where date between @fromDate and @toDate and VoucherNo LIKE @VoucherNo+'%'
					   order by Date DESC
GO
/****** Object:  StoredProcedure [dbo].[ProductWithStock]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
CREATE PROCEDURE [dbo].[ProductWithStock]
AS
	SELECT   DISTINCT temp.ProductId,temp.ProductCode,temp.ProductName as ProductName,Product.Image,
	--Batch.BatchNo,
	Unit.UnitName,ProductGroup.GroupName,Product.UnitId,Product.TaxId,Tax.TaxName,Product.GroupId,
	(convert(decimal(18,2),Product.SalesRate))AS SalesRate ,
	(convert(decimal(18,2),Product.Mrp))AS Mrp,
	(convert(decimal(18,2),Product.PurchaseRate))AS PurchaseRate,
	temp.Stock as CurrentStock
	
	 
	 
	FROM   (select Product.productId,Product.productCode,Product.productName,
	--Batch.batchId,
	( CONVERT(decimal(18,2),ISNULL(SUM(StockPosting.InwardQty),0) - ISNULL(SUM(StockPosting.OutwardQty),0))) AS Stock

	from Product
	--left join Batch ON Product.ProductId=Batch.ProductId
	left JOIN
	StockPosting ON Product.ProductId = StockPosting.ProductId 
	--and StockPosting.BatchId=Batch.BatchId
	--left join UnitConvertion As UC ON UC.ProductId=StockPosting.ProductId AND UC.unitId=StockPosting.UnitId
	
	group by Product.productCode,Product.ProductName,Product.ProductId
	--Batch.BatchId
	) As temp
		
	left join

	Product  ON Product.ProductId = temp.ProductId
	--left join Batch ON Batch.BatchId=temp.BatchId
	left JOIN
	Unit ON Product.UnitId = Unit.UnitId
	left JOIN
	ProductGroup on Product.GroupId=ProductGroup.GroupId
	left JOIN
	Tax on Product.TaxId=Tax.TaxId

	where Product.IsActive='true'
GO
/****** Object:  StoredProcedure [dbo].[SalesInvoiceSearch]    Script Date: 10/8/2024 2:40:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SalesInvoiceSearch]
	@FromDate datetime,
	@ToDate datetime,
	@VoucherNo nvarchar(MAX),
	@LedgerId int

AS
SELECT   dbo.SalesMaster.SalesMasterId,  dbo.AccountLedger.LedgerId, dbo.SalesMaster.VoucherNo,
 dbo.SalesMaster.Date, dbo.SalesMaster.Narration, dbo.SalesMaster.GrandTotal, dbo.SalesMaster.PaymentStatus, dbo.SalesMaster.Status, 
 dbo.SalesMaster.BillDiscount, dbo.SalesMaster.GrandTotal, dbo.SalesMaster.TotalTax,
                      dbo.SalesMaster.UserId, dbo.AccountLedger.LedgerName, InvoiceSetting.VoucherTypeName
FROM         dbo.SalesMaster INNER JOIN
                      dbo.AccountLedger ON dbo.SalesMaster.LedgerId = dbo.AccountLedger.LedgerId INNER JOIN
                      dbo.InvoiceSetting ON dbo.SalesMaster.VoucherTypeId = dbo.InvoiceSetting.VoucherTypeId
                      where SalesMaster.date between @fromDate and @toDate and SalesMaster.VoucherNo LIKE @VoucherNo+'%'
                      and
                       (AccountLedger.LedgerId=CASE WHEN @LedgerId=0 THEN AccountLedger.LedgerId ELSE @LedgerId END)
					   order by dbo.SalesMaster.Date DESC
GO
USE [master]
GO
