
<div class="card m-5">
  <h4 class="card-header text-center ">
    Accont Ledger
  </h4>

<div class="card-body">
<div class="content">
  <form [formGroup]="accountLedgerForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group row">
          <label class="col-form-label col-md-3">Name</label>
         <div class="col-md-9">
          <input  type="text" class="form-control" formControlName="LedgerName" required>
          <div *ngIf="accountLedgerForm.get('LedgerName')?.invalid && accountLedgerForm.get('LedgerName')?.touched" class="text-danger">
            User Name is required.
          </div>
         </div>
        </div>


        <div class="form-group row">
          <label class="col-form-label col-md-3">Under</label>
         <div class="col-md-9">
          <select formControlName="AccountGroupId" class="form-control" required>
            <option *ngFor="let group of listGroup" [value]="group.AccountGroupId">{{ group.AccountGroupName }}</option>
          </select>
          <!-- <ng-select [items]="listGroup" bindLabel="AccountGroupName" bindValue="AccountGroupId"
          formControlName="AccountGroupId"  [searchable]="true" [clearable]="true">
              </ng-select> -->
         </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-3">Description</label>
         <div class="col-md-9">
          <input type="text" class="form-control" formControlName="Address" >
         </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-3">Account Code</label>
         <div class="col-md-9 row">
          <div class="col-md-2"><input type="text" class="form-control" formControlName="LedgerCode"   ></div>
          <div class="col-md-8">
            <div class="form-group row">
              <label class="col-form-label col-md-6">Opening Balance</label>
             <div class="col-md-6">
              <input type="number" class="form-control" formControlName="OpeningBalance" >
             </div>
            </div>
          </div>
          <div class="col-md-2">  <select formControlName="CrOrDr" class="form-control" >
            <option value="Dr">Dr</option>
            <option value="Cr">Cr</option>
          </select></div>
         </div>
        </div>

      <div class="col-lg-12 demo-inline-spacing center" style="margin: 0 auto; ">
        <button type="submit" class="btn btn-primary float-right mx-1">{{btnStatus}}</button>
        <button type="button" class="btn btn-danger float-right mx-1" (click)="resetForm()">Cancel</button>
      </div>
    </div>
  </form>


</div>
</div>
</div>
