/* General Layout Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.expand-menu, .main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; /* Full height */
}

.layout-container {
  display: flex;
  flex: 1; /* Ensure sidebar and content take full height */
  flex-direction: row; /* Align sidebar and content side by side */
  background: rgb(203, 232, 248);
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  background-color: #02335c;
  color: white;
  padding: 20px;
  height: 100%;
  flex-shrink: 0;
}

.sidebar-menu li {
  list-style: none;
  margin: 10px 0;
}

.sidebar-menu li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
}

ul.sidebar-menu li.submenu ul {
  display: none;
  transition: all 0.3s ease;
}

ul.sidebar-menu li.submenu ul.open {
  display: block;
}

ul.sidebar-menu li.active > a {
  background-color: #0056b3;
  color: white;
}

ul.sidebar-menu li.submenu ul li.active a {
  background-color: #004085;
  color: white;
}

.sidebar-menu li a:hover {
  background-color: #1e73b9;
  color: white;
}

ul.sidebar-menu li.submenu ul li a:hover {
  background-color: #337ab7;
  color: white;
}

/* Main Content Styles */
.layout-content {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  flex: 1; /* Main content takes remaining width */
}

/* Page Wrapper and Footer */
.page-wrapper {
  flex-grow: 1;
  overflow-y: auto; /* Add scrolling for overflowing content */
}

app-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  flex-shrink: 0; /* Prevent footer from shrinking */
}

/* Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
  max-height: 300px;
}

th, td {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

th {
  background: rgb(7, 125, 204);
}

thead {
  background-color: rgb(7, 125, 204) !important;
  color: #fff !important;
}

tbody {
  background: rgb(255, 255, 255) !important;
  border-bottom: 2px solid rgb(211, 211, 211);
}

tbody tr:hover {
  background: rgb(202, 245, 244);
  cursor: pointer;
}

/* Sticky Table Header */
.data-table thead th {
  position: sticky;
  top: 0;
}

/* Responsive Table Widths */
.tc-80 {
  width: 50px !important;
}

.tc-100 {
  width: 100px !important;
}

.tc-150 {
  width: 150px !important;
}

.tc-200 {
  width: 200px !important;
}

/* Button Styles */
.btn:disabled {
  cursor: not-allowed;
}

.btn:focus {
  background: rgb(58, 0, 99) !important;
  color: #fff;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar:hover {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* Input Styles */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Form Styles */
.form-group {
  margin-bottom: 0.2rem !important;
}

.form-control,
.ng-select,
.ng-select-container {
  min-height: 35px;
  height: 35px;
}

/* Miscellaneous Styles */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Tooltip, Modal, and Animation Styles */
.ngb-tooltip-window {
  animation: ngTooltipAnimation .25s;
}

ngb-modal-backdrop.modal-backdrop {
  opacity: .5;
  animation: ngModalBackdropAnimation .15s ease-out;
}

ngb-modal-window.modal .modal-dialog {
  animation: ngDefaultModalAnimation .15s ease-out;
}

.material-style ngb-modal-backdrop.modal-backdrop {
  opacity: .2;
  animation: ngMaterialModalBackdropAnimation .15s ease-out;
}

/* Custom Media Queries */
@media(min-width: 720px) {
  ngb-carousel,
  .dropdown-item,
  ngb-datepicker,
  ngb-rating {
    outline: 0 !important;
  }
}

.dropdown-menu-right {
  right: auto !important;
}

/* Router Transition Effects */
.router-transitions {
  opacity: 1;
  transition: opacity .2s;
}

body.app-loading .router-transitions {
  opacity: .75;
}

/* Other Styles */
.hide-theme-settings #theme-settings {
  display: none;
}

.swal2-container {
  z-index: 9999 !important;
}

.center {
  margin: 0 auto;
}

.ng2-tag-input {
  padding: 0 !important;
  border-bottom: 0 !important;
}

.ngb-accordion .card-header > * > .btn.btn-link {
  width: 100%;
  padding: 0;
  text-align: inherit;
  white-space: normal;
  vertical-align: inherit;
  border: 0;
  font-size: .894rem;
}

.ngb-accordion-with-icon .card-header > * > .btn.btn-link {
  display: flex;
  justify-content: space-between;
}

ngb-typeahead-window .dropdown-item {
  cursor: pointer;
}
