<div class="sidebar" id="sidebar">
  <ul class="sidebar-menu">
    <li *ngFor="let item of menuItems; let i = index"
        [class.submenu]="item.submenuItems"
        [class.active]="activeIndex === i">

      <a (click)="toggleSubmenu(i)" [routerLink]="item.link">
        <span>{{ item.name }}</span>
        <span class="menu-arrow" *ngIf="item.submenuItems"></span>
      </a>

      <!-- Submenu rendering -->
      <ul *ngIf="item.submenuItems"
          [class.open]="openSubmenuIndex === i"
          class="submenu">
        <li *ngFor="let submenuItem of item.submenuItems; let j = index"
            [class.active]="activeSubmenuIndex === j && activeIndex === i">
          <a (click)="setActiveSubmenu(i, j)" [routerLink]="submenuItem.link">
            {{ submenuItem.name }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
