
.sidebar {
  width: 250px;
  background-color: #02335c;
  color: white;
  padding: 20px;
  height: 100%;
  flex-shrink: 0;
}

.sidebar-menu li {
  list-style: none;
  margin: 10px 0;
}

.sidebar-menu li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
}

/* Submenu items styles */
ul.sidebar-menu li.submenu ul {
  display: none; /* Submenu hidden by default */
  transition: all 0.3s ease;
}

ul.sidebar-menu li.submenu ul.open {
  display: block; /* Show submenu when open */
}

/* Active state for the main menu item */
ul.sidebar-menu li.active > a {
  background-color: #0056b3;
  color: white;
}

/* Active state for the submenu item */
ul.sidebar-menu li.submenu ul li.active a {
  background-color: #004085;
  color: white;
}

/* Hover effect for main menu items */
.sidebar-menu li a:hover {
  background-color: #1e73b9;
  color: white;
}

/* Hover effect for submenu items */
ul.sidebar-menu li.submenu ul li a:hover {
  background-color: #337ab7;
  color: white;
}
