

<div class="card m-5">
  <h4 class="card-header text-center ">
    Supplier
  </h4>

<div class="card-body">
<div class="content">
  <form [formGroup]="supplierLedgerForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group row">
          <label class="col-form-label col-md-3">Supplier Name</label>
         <div class="col-md-9">
          <input  type="text" class="form-control" formControlName="LedgerName" required>
          <div *ngIf="supplierLedgerForm.get('LedgerName')?.invalid && supplierLedgerForm.get('LedgerName')?.touched" class="text-danger">
            User Name is required.
          </div>
         </div>
        </div>


        <div class="form-group row">
          <label class="col-form-label col-md-3">Code</label>
         <div class="col-md-9 ">
          <input type="number" class="form-control" formControlName="LedgerCode"  required >

        </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-md-3">Address</label>
         <div class="col-md-9">
          <input type="text" class="form-control" formControlName="Address" >
         </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-3">TaxNo</label>
         <div class="col-md-9">
          <input type="text" class="form-control" formControlName="TaxNo" >
         </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-md-3">Phone</label>
         <div class="col-md-9">
          <input type="text" class="form-control" formControlName="Phone" >
         </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-md-3">Country</label>
         <div class="col-md-9">
          <input type="text" class="form-control" formControlName="Country" >
         </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-md-3">City</label>
         <div class="col-md-9">
          <input type="text" class="form-control" formControlName="City" >
         </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-md-3">Email</label>
         <div class="col-md-9">
          <input type="text" class="form-control" formControlName="Email" >
         </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-md-3">Credit Period</label>
         <div class="col-md-9">
          <input type="number" class="form-control" formControlName="CreditPeriod" >
         </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-md-3">Credit Limit</label>
         <div class="col-md-9">
          <input type="number" class="form-control" formControlName="CreditLimit" >
         </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-6">Opening Balance</label>
         <div class="col-md-6">
          <input type="number" class="form-control" formControlName="OpeningBalance" >
         </div>
        </div>




        <div class="form-group row">

            <select formControlName="CrOrDr" class="form-control" >
            <option value="Dr">Dr</option>
            <option value="Cr">Cr</option>
          </select>

        </div>

      <div class="col-lg-12 demo-inline-spacing center" style="margin: 0 auto; ">
        <button type="submit" class="btn btn-primary float-right mx-1">{{btnStatus}}</button>
        <button type="button" class="btn btn-danger float-right mx-1" (click)="resetForm()">Cancel</button>
      </div>
    </div>
  </form>


</div>
</div>
</div>
